weather-notification-bot.json
{
  "name": "Weather Notification Bot",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1fc389fb-5b29-4515-be58-84384987cea5",
              "leftValue": "={{ $json.current_condition[0].temp_C.toNumber() }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "263e79f6-48e4-4376-9b25-3d2af8ffb6f6",
      "name": "Condition temp_C > 25"
    },
    {
      "parameters": {
        "url": "https://wttr.in/La+Rioja,Argentina?format=j1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        0
      ],
      "id": "277ecb31-b8bf-491d-b75c-9cfe096f8c68",
      "name": "Weather API - GET Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31366f1a-0716-4c09-a45c-9002518e0932",
              "name": "Mensaje",
              "value": "={{ \"🌡️ Hace calor en La Rioja: \" + $('Weather API - GET Request').item.json.current_condition[0].temp_C + \"°C - \" + $('Weather API - GET Request').item.json.current_condition[0].weatherDesc[0].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -144
      ],
      "id": "d1d96b6c-55df-4dcb-a300-a347a4bcc746",
      "name": "Message variable assignment - True"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74e985d2-4045-4e6d-8154-4e4c2c8830b2",
              "name": "Mensaje",
              "value": "={{ \"🧥 Fresco en La Rioja: \" + $('Weather API - GET Request').item.json.current_condition[0].temp_C + \"°C - \" + $('Weather API - GET Request').item.json.current_condition[0].weatherDesc[0].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "fd613abe-94e2-4337-9976-f74c5c63fa54",
      "name": "Message variable assignment - False"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        0
      ],
      "id": "7a9aa098-e639-4e33-886f-1a5ad7e50c37",
      "name": "Schedule All days 12pm"
    },
    {
      "parameters": {
        "chatId": "1226098237",
        "text": "={{ $json.Mensaje }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -144
      ],
      "id": "b33a279d-e995-4d70-ac42-eae4d5282428",
      "name": "Send message Telegram - True",
      "webhookId": "512f63cd-3e77-401a-8a2f-360f29826961",
      "credentials": {
        "telegramApi": {
          "id": "mQRvWpwjriHTqe1M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1226098237",
        "text": "={{ $json.Mensaje }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        96
      ],
      "id": "b6b57353-f99c-4d34-a99f-de738f3f029e",
      "name": "Send message Telegram - False",
      "webhookId": "512f63cd-3e77-401a-8a2f-360f29826961",
      "credentials": {
        "telegramApi": {
          "id": "mQRvWpwjriHTqe1M",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Condition temp_C > 25": {
      "main": [
        [
          {
            "node": "Message variable assignment - True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message variable assignment - False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather API - GET Request": {
      "main": [
        [
          {
            "node": "Condition temp_C > 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message variable assignment - True": {
      "main": [
        [
          {
            "node": "Send message Telegram - True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message variable assignment - False": {
      "main": [
        [
          {
            "node": "Send message Telegram - False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule All days 12pm": {
      "main": [
        [
          {
            "node": "Weather API - GET Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f27239b5-654c-4b8c-9eb0-49ee7d0fe126",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6d3f137996cccadc319e6009049d2b5789200116f15e5bbdf67b3999e1500e2"
  },
  "id": "o8m6hMWtNb115oS2",
  "tags": []
}