weather-notification-bot.json
{
  "name": "Weather Notification Bot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "80a9fa20-011f-434d-9eb4-13a5cee070c8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1fc389fb-5b29-4515-be58-84384987cea5",
              "leftValue": "={{ $json.current_condition[0].temp_C.toNumber() }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "263e79f6-48e4-4376-9b25-3d2af8ffb6f6",
      "name": "Condition temp_C > 25"
    },
    {
      "parameters": {
        "url": "https://wttr.in/La+Rioja,Argentina?format=j1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "277ecb31-b8bf-491d-b75c-9cfe096f8c68",
      "name": "Weather API - GET Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31366f1a-0716-4c09-a45c-9002518e0932",
              "name": "Mensaje",
              "value": "={{ \"🌡️ Hace calor en La Rioja: \" + $('Weather API - GET Request').item.json.current_condition[0].temp_C + \"°C - \" + $('Weather API - GET Request').item.json.current_condition[0].weatherDesc[0].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -144
      ],
      "id": "d1d96b6c-55df-4dcb-a300-a347a4bcc746",
      "name": "Message variable assignment - True"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74e985d2-4045-4e6d-8154-4e4c2c8830b2",
              "name": "Mensaje",
              "value": "={{ \"🧥 Fresco en La Rioja: \" + $('Weather API - GET Request').item.json.current_condition[0].temp_C + \"°C - \" + $('Weather API - GET Request').item.json.current_condition[0].weatherDesc[0].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "fd613abe-94e2-4337-9976-f74c5c63fa54",
      "name": "Message variable assignment - False"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/dda20358-8869-4b84-a793-a171af163888",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensaje",
              "value": "={{ $json.Mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        96
      ],
      "id": "0173bb42-137b-41f2-a502-8a9f8ec9e88c",
      "name": "Webhook.site POST Request - False"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/dda20358-8869-4b84-a793-a171af163888",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensaje",
              "value": "={{ $json.Mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        -144
      ],
      "id": "e1867e02-348e-45ed-a7cb-048fc522d845",
      "name": "Webhook.site POST Request - True"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Weather API - GET Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condition temp_C > 25": {
      "main": [
        [
          {
            "node": "Message variable assignment - True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message variable assignment - False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather API - GET Request": {
      "main": [
        [
          {
            "node": "Condition temp_C > 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message variable assignment - True": {
      "main": [
        [
          {
            "node": "Webhook.site POST Request - True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message variable assignment - False": {
      "main": [
        [
          {
            "node": "Webhook.site POST Request - False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "445f13d2-068b-4ffd-ac31-8fe1f90e77e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6d3f137996cccadc319e6009049d2b5789200116f15e5bbdf67b3999e1500e2"
  },
  "id": "o8m6hMWtNb115oS2",
  "tags": []
}